.form-group textarea, .form-control textarea {
    font-family: monospace;
    font-size: smaller;
}

#radar {
    font-family: monospace;
    font-size: 4px;
    background-color: #000000;
    color: lightgreen;
    /*display: inline-block;*/
    width: auto;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;

}

#date-id {
    font-family: monospace;

}

.blackbox {
    font-family: monospace;
    background-color: #000000;
    color: lightgreen;
    display: inline-block;
}